body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #222;
}

header {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

.hero {
    background-color: white;
    margin: 40px;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}